<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tag Along</title>
</head>
<header>
  <h1>Tag Along</h1>
</header>
<nav>
  <a href="/signup">Sign Up</a>
  <a href="/login">Login</a>
  <a href="/events">View All Events</a>
   <a href="/login">Login</a>
</nav>
<body>
  <main>
    {{{ body }}}
  </main>
</body>
</html>