<h1>Events Coming Up</h1>

<div id="eventbox">
  <h2>Event Name</h2>
  <p>Description</p>
  <p>Created by: USER</p>
  <p>Date and Time(Local)</p>
  <p>5 People have RSVP'd!</p>
  <p>Going | Not Going | Maybe</p>
</div>