<h1>Events Coming Up</h1>
<div class="container-md border rounded" id="eventbox">
  <div class="row">
    <div class="col">
      <h3 id="eventName">Event Name</h3>
    </div>
    <div class="col">
      <h3 id="dateTime">Date and Time(Local)</h3>
    </div>
    <div class="col">
      <p id="author">Created by: USER</p>
    </div>
    <div class="row">
      <div class="col-8">
        <p id="desc">Description</p>
      </div>
      <div class="col-4">
        <p id="rsvp">5 People have RSVP'd!</p>
      </div>
    </div>
    <div class="row">
      <div class="col justify-content-end">
    <span class="badge bg-primary" id="going">Going</span>
    <span class="badge bg-primary" id="notGoing">Not Going</span>
    <span class="badge bg-primary" id="maybe">Maybe</span>
    </div>
    </div>
  </div>
</div>
<script src="/public/js/events.js"></script>