

<form id = "login-form">

<div class="mb-3">
  <label class="form-label">Email:</label>
  <input type="text" class="form-control" id="login-email" placeholder="Email">
</div>
<div class="mb-3">
  <label  class="form-label">Password:</label>
  <input type="text" class="form-control" id="login-password" placeholder="Password">
</div>

<h2>New User? Sign up:</h2>
<a href="/signup">Sign Up</a>

<script src="./js/login.js"></script>
