

<form id = "login-form">

<div class="mb-3">
  <label class="form-label">Username:</label>
  <input type="text" class="form-control" id="login-username" placeholder="Username">
</div>
<div class="mb-3">
  <label  class="form-label">Password:</label>
  <input type="text" class="form-control" id="login-password" placeholder="Password">
</div>
<button type="submit">login</button>

<h2>New User? Sign up:</h2>
<a href="/signup">Sign Up</a>

<script src="/js/login.js"></script>
