

<form id = "login-form">
<h1>Email:</h1>
<input type="text" id="login-email">
<h1>Password:</h1>
<input type="text" id="login-password">
</form>

<h2>New User? Sign up:</h2>
<a href="/signup">Sign Up</a>

<script src="./js/login.js"></script>
