<form>
<h1>Email:</h1>
<input type="text" id="signup-email">
<h1>Username:</h1>
<input text="text" id="username-email">
<h1>Password:</h1>
<input type="password" id="signup-email">
<button>Sign Up</button>
</form>