@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
 html, html * {
     font-family: Roboto;
     /* background-color: #424649; */
}
nav > h1 {
  color: #FFFFFF;
}
 body {
     background-color:#424649;
}
 body > h1, h2, h3, h4, h5, h6, strong {
     color:#FFFFFF;
}
 html > body {
     color:#8f9093;
}

.navList {
  font-weight: bolder;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #8f9093;
}

.modal-content {
  background-color: #424649;
}

.card {
  width: 50%;
  margin-left: 25%;
  align-self: center;
  padding-left: 5px; 
}

article {
  padding-bottom: 10px;
}